<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class = 'container' ng-controller = 'homeCtrl'>

  <div class = "overlay">
    <img id = "moi" src="./Home/moi.jpg">

    <div class= "s-m" >
      <a class = "facebook" ng-click="openBrowserFace()"><img class = "socialMediaLogo" src="./Home/Images/facebook.png"></a>
      <a class = "instagram" ng-click="openBrowserGram()"><img class = "socialMediaLogo" src="./Home/Images/instagram.jpg"></a>
      <a class = "github" ng-click="openBrowserHub()"><img class = "socialMediaLogo" src="./Home/Images/github.png"></a>
      <a class = "linkedin" ng-click="openBrowserIn()"s><img class = "socialMediaLogo" src="./Home/Images/linkedin.jpg"></a>
    </div>

    <div id = "Highlights">

      <div class = "row">
        <div class = "col-lg-4 col-md-4">
          <h1>Highlights:</h1>         
        </div>
              <ul>
                <li>3rd Year Software Engineering Student with Ontario Tech University</li>
                <li>Proficient in web development and languages and frameworks such as: Java, MYSQL, Electron, Python, HTML, CSS, JS (Base and AngularJS, NodeJS, ReactJS). As a result of the hackathons I have participated in, I have also picked up Github, Slack, and Discord for team coordination.</li>  
                <li> I am a martial Artist which comes with a mindset for success. Discipline, focus, and respect allow me to tackle any problem from as many angles as necessary to solve it.
                </li>
                <li>Ran a business and am an executive for Toastmasters Internation @ Ontario Tech University so my customer relations, organization, and problem solving are well developed</li>
                <li>Member of UOIT's (now known as Ontario Tech University) first ever RI3d (Robot in Three Days) Team. Helped to program the movement for the robot.</li>
                <li>Working to develop a database management system for Bully B.R.A.V.E. A bully protection program being adopted all over the peel district school board and surrounding regions and around the country.</li>
              </ul>

      </div>

      </div>

    </div>

    <div class = "oneVid">
      <h3>UOIT RI3D (Robot in Three Days)</h3>
      <video width="500" height="300" poster="./Home/videos/thumbnail.jpg" controls>
        <source src="./Home/videos/movie1.mp4" type="video/mp4">
      </video>
    </div>

    <div class="twoVid">
      <h3>Music Visualizer Project</h3>
      <video width="500" height="300" poster="./Home/videos/thumbnail2.jpg" controls>
        <source src="./Home/videos/movie2.mp4" type="video/mp4">
      </video>
    </div>

    <div class= 'threeVid'>
      <h3>ToastMaster TableTopics</h3>
      <video width="500" height="300" poster="./Home/videos/toastmasters.png" controls>
        <source src="./Home/videos/movie3.mp4" type="video/mp4">
      </video>
    </div>

  </div>
